/* Rules for mobile devices */

@media only screen and (max-width: 655px)
{
   .menu_button     {visibility:     visible            !important}
   .title           {font-size:      38px               !important}
   .title           {letter-spacing: 2px                !important}
   .links           {display:        none               !important}
   .nav_button      {height:         24px               !important}
   .nav_button      {width:          14px               !important}
   .nav_left_shape  {transform:      scale(80%)         !important}
   .nav_right_shape {transform:      scale(80%)         !important}
   .sub_title       {font-size:      30px               !important}
   .sub_title       {padding-bottom: 15px               !important}
   .text            {padding:        25px 25px 0px 25px !important}
   .text_image      {width:          100%               !important}
   .text_image      {margin:         0px 0px 25px 0px   !important}
   .art_gallery     {column-count:   1                  !important}
}

/* Rules for mobile devices in landscape orientation */

@media only screen and (max-width: 768px) and (orientation: landscape)
{
   .menu_button     {visibility:     visible             !important}
   .title           {font-size:      38px                !important}
   .title           {letter-spacing: 2px                 !important}
   .links           {display:        none                !important}
   .nav_button      {height:         24px                !important}
   .nav_button      {width:          14px                !important}
   .nav_left_shape  {transform:      scale(80%)          !important}
   .nav_right_shape {transform:      scale(80%)          !important}
   .sub_title       {font-size:      30px                !important}
   .sub_title       {padding-bottom: 15px                !important}
   .text            {padding:        40px 10px 15px 10px !important}
   .text_image      {margin:         0px 0px 25px 25px   !important}
   .art_gallery     {column-count:   2                   !important}
}

/* Rules for iPads in portrait orientation */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
   .title         {font-size:      46px                !important}
   .title         {letter-spacing: 2px                 !important}
   .sub_title     {padding-bottom: 15px                !important}
   .text          {padding:        50px 20px 25px 20px !important}
   .text_image    {margin:         0px 0px 25px 25px   !important}
   .art_gallery   {column-count:   2                   !important}
}

/* Replace vh with dvh on devices that support dvh */

@supports (height: 100dvh)
{
   .image_container_one_column {height: 100dvh !important}
   .image_container_two_column {height: 100dvh !important}
}

.body
{
   background-color: white;
   color: black;
   margin: 0px;
   padding: 0px;
}

.title
{
   font-family: Arial, sans-serif;
   font-size: 52px;
   font-weight: bold;
   color: black;
   text-align: center;
   letter-spacing: 4px;
   padding: 0px 25px 0px 25px;
}

.sub_title
{
   font-family: Arial, sans-serif;
   color: darkslategray;
   font-size: 34px;
   text-align: left;
   white-space: nowrap;
   padding-bottom: 40px;
   display: inline-block;
}

.links
{
   display: flex;
   justify-content: space-evenly;
   white-space: nowrap;
   width: 95%;
   max-width: 1200px;
   margin: 0px auto;
   padding: 25px 0px 25px 0px;
}

.link
{
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: darkslategray;
   letter-spacing: 2px;
   text-decoration: none;
   margin: 0px;
}

a.link:hover
{
   font-weight: bold;
   color: #BE0000;
}

.clicked_link
{
   font-family: Arial, sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #BE0000;
   letter-spacing: 2px;
   text-decoration: none;
   margin: 0px;
}

.table
{
   text-align: left;
   border-spacing: 0px;
   margin: 0px auto;
   padding: 0px;
   width: 95%;
}

.text
{
   font-family: Arial, sans-serif;
   font-size: 16px; 
   color: darkslategray;
   vertical-align: top;
   text-align: left;
   line-height: 30px;
   padding:  50px 50px 25px 50px;
}

.text_image
{
   width: 300px;
   margin: 0px 0px 25px 50px;
   float: right;
}

.e-mail
{
   color: #BE0000;
   text-decoration: none;
}

.copyright
{
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: darkslategray;
   text-align: center;
   line-height: 20px;
   padding: 25px;
}

.border_radius
{
   border-radius: 8px;
}

.menu_button
{
   font-size: 30px;
   cursor: pointer;
   visibility: hidden;
   padding-left: 5px;
}

.menu
{
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: white;
   border-radius: 0px 0px 8px 0px;
   margin: 0px;
   padding: 50px 0px 15px 0px;
   width: 0px;
   overflow: auto;
   transition: 0.5s;
   z-index: 1;
}

.menu a
{
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: darkslategray;
   letter-spacing: 2px;
   text-decoration: none;
   white-space: nowrap;
   padding: 10px;
   display: block;
}

.menu a:hover
{
   font-weight: bold;
   color: #BE0000;
}

.menu .close_button
{
   position: absolute;
   top: 0px;
   right: 10px;
   font-size: 36px;
   border: 0px;
   margin: 0px;
   padding: 0px;
}

.art_gallery
{
   column-count: 2;
   column-gap: 50px;
   text-align: center;
   margin: 0px auto;
   width: 95%;
}

.art_image
{
   margin-top: 25px;
   margin-bottom: 25px;
   display: inline-block;
}

.art_image img
{
   width: 100%;
   height: auto;
}

@media (hover: hover)
{
   /* The following should only be applied if devices support hovering */

   .art_image img:hover
   {
      transform: scale(1.05);
   }
}

.art_caption
{
   position: relative;
   background-color: white;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: darkslategray;
   text-align: left;
   justify-self: start;
   align-self: start;
   height: 100%;
   margin: 0px;
   padding: 0px 25px 10px 10px;
   overflow-y: auto;
}

.art_title
{
   font-weight: bold;
   font-size: 18px;
   padding-top: 5px;
   display: block;
}

.art_dimensions
{
   font-style: italic;
   padding-top: 10px;
   display: block;
}

.art_paragraph
{
   padding-top: 10px;
   padding-bottom: 10px;
   display: block;
}

.back_button
{
   cursor: pointer;
   position: fixed;
   top: 5px;
   right: 5px;
   font-family: Arial, sans-serif;
   font-size: 20px;
   color: white;
   background-color: rgba(0, 0, 0, 50%);
   border-radius: 20%;
   border-width: 0px;
   padding: 0px 5px 0px 5px;
   z-index: 1;
}

.back_button:hover
{
   background-color: rgba(0, 0, 0, 75%);
}

.nav_button
{
   cursor: pointer;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   font-weight: bold;
   color: white;
   display: grid;
   place-items: center;
   height: 52px;
   width: 18px;
   background-color: rgba(0, 0, 0, 50%);
   border-radius: 4px;
   border: 0px;
   margin: 0px;
   padding: 0px;
   z-index: 1;
}

.nav_button:hover
{
   background-color: rgba(0, 0, 0, 75%);
}

.nav_left_offset
{
   left: 5px;
}

.nav_right_offset
{
   right: 5px;
}

.nav_left_shape
{
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-bottom: 6px solid transparent;
   border-right: 10.5px solid white;
   margin: 0px auto;
   transform: scale(1);
}

.nav_right_shape
{
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-bottom: 6px solid transparent;
   border-left: 10.5px solid white;
   margin: 0px auto;
   transform: scale(1);
}

.image_container_one_column
{
   background-color: white;
   display: grid;
   grid-template-columns: 1fr;
   place-items: center;
   place-content: start;
   width: 100%;
   height: 100vh;
   overflow-y: auto;
   visibility: hidden;
}

.image_container_two_column
{
   background-color: black;
   display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
   gap: 0px;
   height: 100vh;
   margin: 0px auto;
   overflow-y: hidden;
   visibility: hidden;

}